<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<div style="width:400px; height:auto">
	<%= link_to image_tag(@post.image, style:"width:100%"), posts_path %>
</div>


<p>
  <strong>Comment:</strong>
  <%= @post.comment %>
</p>

<br>
<h2> <%= @post.comments.count %>Comments</h2>
<%= render @post.comments %>
<h3>Add a Comments: </h3>
<%= render "comments/form" %>
<br>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
