<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<div style="width:400px; height:auto">
	<%= link_to image_tag(@post.image, style:"width:100%"), posts_path %>
</div>


<p>
  <strong>Comment:</strong>
  <%= @post.comment %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
